
body{
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}


.container1 {
   
    height: 755px;
    width: 100%;
    max-width: 100%;
    background-image: url(/assets/images/coffeebig1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box; 
}

.text1 {
    color: aliceblue;
    font-weight: 700;
    font-size: 54px;
    width: 575px;
    height: 144px;
}

.text2 {
    width: 409px;
    height: 68px;
    font-weight: 400;
    font-size: 20px;
    color: aliceblue;
}


